<ul>
    <li>
        <a href="#">
            <img src="~/content/img/user-icon.gif" alt="Sign In">
            Sign In <img src="~/content/img/down-arrow.gif" alt="Sign In" />
        </a>
        <ul>
            <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
            <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
        </ul>
    </li>
</ul> 
