@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<section id="main-content">
    <h2>About Us</h2><hr />
    <div id="products">
        <img src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-3/512/mobile-finger-512.png" 
             alt="Phone Sore" width="300" height="300">
        <br>
    <p>Hello Musus this text about you and your website please fulfil it whatever you want</p>

    </div>
</section>
<hr />
